export LINKS_TITLE="Test links"

export LINK_0_GOOGLE_URL=https://google.com
export LINK_0_GOOGLE_ICON=magnify

export LINK_1_WIKIPEDIA_NAME=Wikipedia
export LINK_1_WIKIPEDIA_URL=https://wikipedia.org
export LINK_1_WIKIPEDIA_ICON=book-open-blank-variant

export LINK_2_EXAMPLE_NAME=Example
export LINK_2_EXAMPLE_URL=https://example.com
export LINK_2_EXAMPLE_ICON=close

export LINK_3_STACKOVERFLOW=https://stackoverflow.com/
export LINK_3_STACKOVERFLOW_NAME="Stack Overflow"
export LINK_3_STACKOVERFLOW_ICON=help-circle-outline

export LINK_5_NOICON_NAME="Without icon"
export LINK_5_NOICON_URL=https://noicon.com/

export LINK_4_NoIcon_NoName=https://google.com/?q=noicon+noname
