:root {
  --font-color: #222;
  --font-color-muted: #878787;
  --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #d3cfc9;
    --font-color-muted: #ccc;
    --bg-color: #181a1b;
  }
}


html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
}
